{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <!-- Include Operations Sidebar -->
        {% include 'operations/operations_sidebar.html' %}

        <!-- Main Content Area -->
        <div class="col-md-9 ms-sm-auto col-lg-10 px-md-3" style="margin-left: 260px;"> <!-- Adjusted to prevent overlap with sidebar -->
            
            <h1 class="h3 text-primary text-center">Monitoring Process - {{ process_run_id }}</h1>

            <table class="table table-bordered mt-4">
                <thead>
                    <tr>
                        <th>Function Name</th>
                        <th>Execution Order</th>
                        <th>Status</th>
                        <th>Execution Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for run_process in run_processes %}
                    <tr>
                        <td>{{ run_process.function.function_name }}</td>
                        <td>{{ run_process.order }}</td>
                        <td>
                            {% if run_process.status == "Success" %}
                                <span class="badge badge-success">{{ run_process.status }}</span>
                            {% elif run_process.status == "Ongoing" %}
                                <span class="badge badge-warning">{{ run_process.status }}</span>
                            {% else %}
                                <span class="badge badge-danger">{{ run_process.status }}</span>
                            {% endif %}
                        </td>
                        <td>{{ run_process.execution_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'process_list' %}" class="btn btn-secondary mt-3">Back to Process List</a>
        </div>
    </div>
</div>
{% endblock %}
