{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <a href="{% url 'dashboard' %}" class="btn btn-outline-secondary mb-3">
        <i class="fas fa-arrow-left"></i> Back to Dashboard
    </a>

    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="card">
                <div class="card-header bg-primary text-white">{{ title }}</div>
                <div class="card-body">
                    <p>Select the application you want to access:</p>
                    <div class="list-group">

                        <a href="{% url 'ALM_home' %}" class="list-group-item list-group-item-action">ALM</a>

                        <a href="" class="list-group-item list-group-item-action">Application 2</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}